<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{title}} <small>powered by <a href="https://www.petfinder.com" >Petfinder</a></small></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/pets">Pets</a></li>
                            <li><a href="/shelters">Shelters</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <p class="lead">
                    <a href="/pets" class="btn btn-default">Get started!</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Template by
                        <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and Image by
                        <a href="http://unsplash.com/@fredmarriage?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                            target="_blank">freddie marriage</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>