<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link href="/stylesheets/libraries/bootstrap.min.css" rel="stylesheet">
    {{#if customStylesheet}}
       <link href="/stylesheets/{{customStylesheet}}" rel="stylesheet">
    {{/if}}
   

</head>

  <body>
    {{{body}}}
    <script src="/javascripts/libraries/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/libraries/bootstrap.min.js"></script>
  </body>
</html>
